#favourite-websites-page-main-title {
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
}

#go-back-to-search-results {
  position: absolute;
  left: 170px;
  top: 20px;
}

/* 喜爱列表 */
#favourite-websites-list {
  position: relative;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 20px;
}

/* 喜爱列表 */
.card-columns {
  column-count: 3;
}

/* 喜爱列表（单独） */
.card {
  height: 80px;
  text-align: center;
  /* 从左至右：增加立体感，边框厚度 */
  border: solid 1px #000000;
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}

/* 喜爱列表（单独）：鼠标悬停 */
.card:hover {
  /* 从左至右：增加立体感，边框厚度 */
  border: solid 3px #000000;
  /* 渐变时间 */
  transition: 0.5s;
}
