#search-input {
  height: 40px;
  width: 700px;
  margin-left: 10px;
  /* 输入框内文字缩进 */
  text-indent: 10px;
  /* 输入框边缘圆滑度 */
  border-radius: 5px;
  /* solid代表输入框有边框 */
  border: solid 1.5px #d3d3d3;
  /* 阴影持续时间 */
  transition: 0.5s;
}

#search-input:hover {
  /* 0 0代表输入框四周阴影*/
  box-shadow: 0 0 5px 0.5px #d3d3d3;
}

#search-input:focus {
  /* 0 0代表输入框四周阴影*/
  box-shadow: 0 0 8px 3px #d3d3d3;
  /* 输入框无边框*/
  outline-width: 0px;
}

#search-button {
  width: 50px;
  margin-left: 5px;
  margin-right: 10px;
  /* 阴影持续时间 */
  transition: 0.5s;
}

#search-button:hover {
  /* 0 0代表输入框四周阴影*/
  box-shadow: 0 0 18px 3px #d3d3d3;
}

#search-input-button {
  margin-top: 10px;
  /* 输入框和按钮平行 */
  display: flex;
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}

#search-reset-button {
  position: absolute;
  right: 68px;
  top: 58px;
  bottom: 0;
  height: 30px;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  visibility: hidden;
}

#search-title {
  text-align: center;
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}

#search-input-button-title-div {
  /* 横向缩小浏览器仍然完全显示标题，输入框和按钮 */
  width: 100%;
  /* 横向扩展浏览器保持标题，输入框和按钮合适大小才能做到居中 */
  max-width: fit-content;
  /* 保持标题，输入框和按钮水平居中和垂直居中 */
  position: fixed;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}
