/* 搜索结果列表 */
#search-results {
  margin-top: 100px;
  position: absolute;
  left: 380px;
  width: 900px;
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}

/* 搜索结果（单独）：鼠标悬停 */
#search-result-individual:hover {
  border-radius: 20px;
  /* 从左至右：增加立体感，边框厚度 */
  border: solid 1px #d3d3d3;
  /* 渐变时间 */
  transition: 0.5s;
  /* 从左至右：阴影垂直位置，阴影水平位置，阴影模糊度，阴影大小 */
  box-shadow: 0 0 5px 2px #413c3c;
}

/* 搜索结果链接 */
#search-result-link {
  font-size: 22px;
  color: rgb(243, 13, 109);
}

/* 搜索结果链接：已访问过 */
#search-result-link:visited {
  color: rgb(0, 4, 248);
}

/* 搜索结果显示连接 */
#search-result-display-link {
  margin-top: -3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

/* 按钮默认设置 */
.button-default {
  /* 颜色渐变时间（下面的只有background-color有用，其他的仅作展示） */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#no-results {
  position: absolute;
  left: 520px;
  top: 300px;
  font-size: 30px;
  /* 测试 div大小 */
  /* border: 3px solid #73ad21; */
}

/* 网站筛选 */
#websites-filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100px;
  margin-top: 110px;
  /* 测试 div大小 */
  /* border: 2px solid black; */
}

/* 网站筛选（单独） */
#website-filter-individual {
  font-size: 18px;
  font-weight: bold;
  /* 测试 div大小 */
  /* border: 2px solid black; */
  border-radius: 10px;
  border: none;
}

/* 网站筛选：鼠标悬停 */
#website-filter-individual:hover {
  background-color: rgb(167, 173, 162);
}
